@font-face {
  font-family: "Garamond";
  src: url("../resource/fonts/Garamond.ttf"); }
@font-face {
  font-family: "Adam.CG";
  src: url("../resource/fonts/ADAM.CG PRO.otf"); }
h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 2.5em;
  color: #1063ff;
  line-height: 100px; }

h2 {
  font-family: "Adam.CG"; }

h3 {
  font-family: "Garamond"; }

* {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  line-height: 25px; }

section:nth-child(even) {
  background-color: #479099; }
  section:nth-child(even) * {
    color: white; }

section:nth-child(n+3) .hero-body {
  padding-top: 10px; }

#perfil, #skills {
  text-shadow: 1px 1px 5px black; }

span.skill {
  background-color: #1063ff;
  color: white;
  padding: 5px;
  border-radius: 4px; }

#workingXP h3 {
  font-size: 1.5em; }
#workingXP p {
  line-height: 2; }
  #workingXP p.season {
    color: #769bff;
    font-size: .8em; }
  #workingXP p.responsibilities {
    color: #1063ff; }

.margin-top-15 {
  margin-top: 15px; }

.line-height-2 {
  line-height: 2; }

#project-modal h2 {
  margin-bottom: 5px; }
#project-modal h3 {
  font-size: 1.5em; }
#project-modal .bordered {
  margin: 5px; }
  #project-modal .bordered:hover {
    box-shadow: 0 0 15px black; }

#education p {
  line-height: 2; }
  #education p.season {
    color: #769bff;
    font-size: .8em; }
  #education p.responsibilities {
    color: #1063ff; }

.container {
  padding-left: 10%;
  padding-right: 10%; }
  @media (max-width: 768px) {
    .container #imagePP {
      display: none; } }
  .container figure.image {
    float: right; }
    .container figure.image img {
      box-shadow: 0 0 15px black;
      border-radius: 100px;
      box-sizing: content-box;
      border: 3px solid #3e787c; }
  .container .content h2 {
    text-transform: uppercase; }
  .container .content ul {
    margin-top: 0; }
    .container .content ul li {
      text-transform: capitalize; }
  .container .content h3 {
    margin-top: 0; }
  .container .content p {
    margin: 0; }

.skills-parallax {
  /* The image used */
  background: linear-gradient(0deg, rgba(41, 99, 112, 0.61), rgba(1, 97, 122, 0.71)), url("../images/skills-background.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.modal .modal-header {
  background-color: #479099;
  color: white;
  padding-left: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 70%;
  min-width: 70%;
  z-index: 1;
  text-shadow: 1px 1px 15px #000; }
  .modal .modal-header h1 {
    color: white; }
.modal .modal-content {
  background-color: white;
  padding: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 70%;
  max-width: 70%; }

nav.navbar {
  background-color: #3e787c;
  padding-left: 5%;
  padding-right: 5%; }
  @media (max-width: 768px) {
    nav.navbar {
      padding-bottom: 5%; } }
  nav.navbar .white-nav {
    color: white;
    text-shadow: 0 0 3px black; }
  nav.navbar img {
    border-radius: 10px; }
  nav.navbar .navbar-brand h1 {
    text-shadow: 0 0 7px black;
    color: white;
    font-size: 2em; }
  nav.navbar .navbar-end a {
    background-color: #3e787c;
    margin-left: 10px; }

.notification {
  position: fixed;
  top: 4rem;
  right: 0;
  left: 70%; }
  @media (max-width: 768px) {
    .notification {
      left: 0; } }

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 2px;
  z-index: 2; }
  #topBtn button {
    border-radius: 40%; }

/*# sourceMappingURL=custom.css.map */
