$navbar-bg-color: #3e787c;
$primary-color: #1063ff;
$section-color: #479099;
$secondary-color: #769bff;

@font-face {
  font-family: "Garamond";
  src: url("../resource/fonts/Garamond.ttf");
}

@font-face {
  font-family: "Adam.CG";
  src: url("../resource/fonts/ADAM.CG PRO.otf");
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 2.5em;
  color: $primary-color;
  line-height: 100px;
}

h2 {
  font-family: "Adam.CG";
}

h3 {
  font-family: "Garamond";
}

* {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  line-height: 25px;
}


section:nth-child(even) {
  * {
    color: white;
  }

  background-color: $section-color;
}

section:nth-child(n+3) {
  .hero-body {
    padding-top: 10px;
  }
}

#perfil, #skills {
  text-shadow: 1px 1px 5px black;
}

span {
  &.skill {
    background-color: $primary-color;
    color: white;
    padding: 5px;
    border-radius: 4px;
  }
}

#workingXP {
  h3 {
    font-size: 1.5em;
  }

  p {
    line-height: 2;

    &.season {
      color: $secondary-color;
      font-size: .8em;
    }

    &.responsibilities {
      color: $primary-color;
    }
  }
}

.margin-top-15{
  margin-top:15px;
}

.line-height-2{
  line-height: 2;
}

#project-modal {
  h2 {
    margin-bottom: 5px;
  }

  h3 {
    font-size: 1.5em;
  }

  .bordered {
    margin: 5px;

    &:hover {
      box-shadow: 0 0 15px black;
    }
  }
}

#education {
  p {
    line-height: 2;

    &.season {
      color: $secondary-color;
      font-size: .8em;
    }

    &.responsibilities {
      color: $primary-color;
    }
  }
}

.container {
  padding-left: 10%;
  padding-right: 10%;

  @media (max-width: 768px) {
    #imagePP {
      display: none;
    }
  }

  figure {
    &.image {
      float: right;

      img {
        box-shadow: 0 0 15px black;
        border-radius: 100px;
        box-sizing: content-box;
        border: 3px solid $navbar-bg-color;
      }
    }
  }

  .content {
    h2 {
      text-transform: uppercase;
    }

    ul {
      margin-top: 0;

      li {
        text-transform: capitalize;
      }
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin: 0;
    }
  }
}

.skills-parallax {
  /* The image used */
  background: linear-gradient(0deg, rgba(41, 99, 112, 0.61), rgba(1, 97, 122, 0.71)), url('../images/skills-background.jpg');


  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  .modal-header {
    h1 {
      color: white;
    }

    background-color: $section-color;
    color: white;
    padding-left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 70%;
    min-width: 70%;
    z-index: 1;
    text-shadow: 1px 1px 15px #000;
  }

  .modal-content {
    background-color: white;
    padding: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 70%;
    max-width: 70%;
  }
}

nav {
  &.navbar {
    background-color: $navbar-bg-color;
    padding-left: 5%;
    padding-right: 5%;
    @media (max-width: 768px) {
      padding-bottom: 5%;
    }

    .white-nav {
      color: white;
      text-shadow: 0 0 3px black;
    }

    img {
      border-radius: 10px;
    }

    .navbar-brand {
      h1 {
        text-shadow: 0 0 7px black;
        color: white;
        font-size: 2em;
      }
    }

    .navbar-end {
      a {
        background-color: $navbar-bg-color;
        margin-left: 10px;
      }
    }
  }
}

.notification {
  position: fixed;
  top: 4rem;
  right: 0;
  left: 70%;
  @media (max-width: 768px) {
    left: 0;
  }
}

#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 2px;
  z-index: 2;

  button {
    border-radius: 40%;
  }
}


