<div class="modal animated fadeIn" id="about-modal">
    <div class="modal-background"></div>
    <div class="modal-header">
        <h1>About</h1>
    </div>
    <div class="modal-content">
        <p>Alex da Costa Oliveira, was born in 8th of August 1996, in Rio de Janeiro - Brazil.</p>
        <p>At the age of 12 moved to Brasília, the city where he started his studies Computer
            Science and latter, in December 2018.</p>
        <p>Graduated at the age of 22.</p>
        <p>Started working at the age of 17, for the same university he graduated in, as an Web Developer intern at the e-learning department. His main focus was at the Moodle platform. Because of that he specialised in Web Development having as main focus the PHP, Javascript, SCSS and MySQL technologies while also using jQuery and Bootstrap.</p>
        <p>Later he got hired as an employee and also was designated with more responsibilities, including the development of the courseware content in HTML5. Besides that, he also was one of the main responsible for the customisation and creation of new Moodle themes, that needed to be responsive for mobile and tablet devices.</p>
        <p>From October 2018 he start working as a freelancer, developing web applications for clients abroad. Applications those that where developed using technologies like PHP, Javascript, MySQL, jQuery, Bootstrap and others.</p>
        <p>In March 2019 he started his postgraduate studies in the Distributed Systems Architecture field.</p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>