<!DOCTYPE html>
<html id="html" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Alex Oliveira's personal page.">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" href="../resource/bulma.min.css">
    <link rel="stylesheet" href="../style/custom.css">
    <script src="../resource/fa-all.js"></script>
    <script src="../resource/jquery-3.2.1.min.js"></script>
    <script src="../helper/navbarController.js"></script>
    <script src="../controler/js/main-page.js"></script>
    <meta charset="UTF-8">
    <title>Alex Oliveira</title>
</head>
<body class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <h1 class="navbar-item">
            Alex Oliveira
        </h1>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item white-nav" href="/index.php">
                Home
            </a>
            <a class="navbar-item white-nav" id="workingXPBtn">
                Working Experience
            </a>
            <a class="navbar-item white-nav" id="skillBtn">
                Skills
            </a>
            <a class="navbar-item white-nav" id="languagesBtn">
                Languages
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link white-nav">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Projects
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Contact
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="https://www.linkedin.com/in/alexoliveira22/" target="_blank">
                        <img src="../images/linkedin.png">
                    </a>
                    <a href="https://github.com/alkss" target="_blank">
                        <img src="../images/github.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>