<section class="hero skills-parallax" id="perfil">
    <div class="container">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-8">
                    <div class="content">
                        <h2>Alex da Costa Oliveira</h2>
                        <h3>Web Developer</h3>
                        <div class="columns">
                            <div class="column">
                                <p><span class="icon"><i class="fas fa-calendar-alt"></i></span>22 years old - August
                                    8th,
                                    1996</p>
                                <p><span class="icon"><i class="fas fa-globe-americas"></i></span>Brazilian</p>
                                <p><span class="icon"><i class="fas fa-map-marker-alt"></i></span>Porto, Portugal</p>
                                <p><span class="icon"><i class="fab fa-whatsapp"></i></span>+351 912646369</p>
                            </div>
                            <div class="column">
                                <p><span class="icon"><i class="fab fa-skype"></i></span>Alkss22</p>
                                <p><span class="icon"><i class="fab fa-linkedin"></i></span>alexoliveira22</p>
                                <p><span class="icon"><i class="fab fa-github"></i></span>Alkss</p>
                                <p><span class="icon"><i class="fab fa-discord"></i></span>Alkss#4404</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column" id="imagePP">
                    <figure class="image is-128x128">
                        <img src="../images/pp.jpeg">
                    </figure>
                </div>
            </div>
            <p>Computer Scientist with experience in e-learning platforms and web development, both front and back
                end. Have great communications skills, team player, good problem solving skills and tech enthusiast.</p>
        </div>
    </div>
</section>
<section class="hero" id="workingXP">
    <div class="container">
        <div class="hero-head">
            <h1>Working Experience</h1>
        </div>
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <h3 class="has-text-centered">Web Developer</h3>
                    <h2 class="has-text-centered">UniCEUB - University Center of Brasília <a target="_blank"
                                                                                             href="//www.uniceub.br"><i
                            class="fas fa-external-link-alt"></i></a></h2>
                    <p class="season has-text-centered">(Jul/2018 - Aug/2019)</p>
                    <p class="responsibilities">Responsibilities</p>
                    <div class="content">
                        <ul>
                            <li>
                                Provide user support via email, phone and presential to students and professors;
                            </li>
                            <li>
                                Development of responsive courseware content using the <b>HTML5</b> format;
                            </li>
                            <li>
                                Web applications development to support the Moodle platform, using technologies such as
                                <b>PHP</b>, <b>HTML</b>, <b>Javascript</b>, <b>MySQL</b> and <b>CSS/SCSS</b>;
                            </li>
                            <li>
                                Maintenance of the Moodle platform performing regular adjustments;
                            </li>
                            <li>
                                Creation of responsive themes for the Moodle platform;
                            </li>
                            <li>
                                Customization of themes for the Moodle platform;
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="column">
                    <h3 class="has-text-centered">Web Developer Intern</h3>
                    <h2 class="has-text-centered">UniCEUB - University Center of Brasília <a target="_blank"
                                                                                             href="//www.uniceub.br"><i
                            class="fas fa-external-link-alt"></i></a></h2>
                    <p class="season has-text-centered">(Jul/2015 - Jul/2018)</p>
                    <p class="responsibilities">Responsibilities</p>

                    <div class="content">
                        <ul>
                            <li>
                                Provide user support via email, phone and presential to students and professors;
                            </li>
                            <li>
                                Web applications development to support the Moodle platform, using technologies such as
                                <b>PHP</b>, <b>HTML</b>, <b>Javascript</b>, <b>MySQL</b> and <b>CSS/SCSS</b>;
                            </li>
                            <li>
                                Maintenance of the Moodle platform performing regular adjustments;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <p>Related skills: <span class="skill">PHP</span>
                        <span class="skill">Javascript</span>
                        <span class="skill">MySQL</span>
                        <span class="skill">HTML5</span>
                        <span class="skill">CSS</span>
                        <span class="skill">SCSS</span>
                        <span class="skill">Bootstrap</span>
                        <span class="skill">jQuery</span>
                        <span class="skill">Ajax</span>
                        <span class="skill">Git</span>
                        <span class="skill">SCRUM</span>
                    </p>
                </div>
                <div class="column">
                    <p>Related skills: <span class="skill">PHP</span>
                        <span class="skill">Javascript</span>
                        <span class="skill">MySQL</span>
                        <span class="skill">HTML5</span>
                        <span class="skill">SCSS</span>
                        <span class="skill">Bootstrap</span>
                        <span class="skill">jQuery</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero skills-parallax" id="skills">
    <div class="container">
        <div class="hero-head has-text-centered-mobile">
            <h1>Skills</h1>
        </div>
        <div class="hero-body">
            <div class="columns">
                <div class="column has-text-centered">
                    <h2>PHP</h2>
                    <progress class="progress is-primary" value="89" max="100">89%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>Javascript</h2>
                    <progress class="progress is-primary" value="70" max="100">70%</progress>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column has-text-centered">
                    <h2>MySQL</h2>
                    <progress class="progress is-primary" value="70" max="100">70%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>jQuery</h2>
                    <progress class="progress is-primary" value="70" max="100">70%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>HTML5</h2>
                    <progress class="progress is-primary" value="70" max="100">70%</progress>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered">
                    <h2>Sass</h2>
                    <progress class="progress is-primary" value="60" max="100">60%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>CSS</h2>
                    <progress class="progress is-primary" value="55" max="100">55%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>Bootstrap</h2>
                    <progress class="progress is-primary" value="60" max="100">60%</progress>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column has-text-centered">
                    <h2>PHPStorm</h2>
                    <progress class="progress is-primary" value="60" max="100">60%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>SCRUM</h2>
                    <progress class="progress is-primary" value="80" max="100">80%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>OOP</h2>
                    <progress class="progress is-primary" value="99" max="100">99%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>GIT</h2>
                    <progress class="progress is-primary" value="90" max="100">90%</progress>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered">
                    <h2>Linux</h2>
                    <progress class="progress is-primary" value="60" max="100">60%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>Windows</h2>
                    <progress class="progress is-primary" value="80" max="100">80%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>Adobe Premiere</h2>
                    <progress class="progress is-primary" value="40" max="100">40%</progress>
                </div>
                <div class="column has-text-centered">
                    <h2>Adobe Photoshop</h2>
                    <progress class="progress is-primary" value="45" max="100">45%</progress>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero" id="education">
    <div class="container">
        <div class="hero-head has-text-centered-mobile">
            <h1>Education</h1>
        </div>
        <div class="hero-body">
            <div class="columns">
                <div class="column">
                    <h2>Distributed Systems Architecture</h2>
                    <h3>Pontifical Catholic University of Minas Gerais <a target="_blank"
                                                                          href="//https://www.pucminas.br"><i
                            class="fas fa-external-link-alt"></i></a></h3>
                    <div class="columns">
                        <div class="column">
                            <p class="season"><i>(03/2019 - Present)</i></p>
                            <p><b>Degree:</b> Postgraduate</p>
                        </div>
                        <div class="column">
                            <p class="season"><i>Minas Gerais, Brazil</i></p>
                        </div>
                    </div>
                    <p class="responsibilities"><b>Disciplines taken:</b></p>
                    <div class="content">
                        <ul>
                            <li>Principles of Software Architecture</li>
                            <li>Front End Architecture</li>
                            <li>Back End Architecture and Microservices</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <h2>Computer Science</h2>
                    <h3>UniCEUB - University Center of Brasília <a target="_blank"
                                                                   href="//https://uniceub.br"><i
                            class="fas fa-external-link-alt"></i></a></h3>
                    <div class="columns">
                        <div class="column">
                            <p class="season"><i>(01/2015 - 12/2018)</i></p>
                            <p><b>Degree:</b> Bachelor</p>
                        </div>
                        <div class="column">
                            <p class="season"><i>Brasília, Brazil</i></p>
                            <p class="season">GPA: 3.24</p>
                        </div>
                    </div>
                    <p class="responsibilities"><b>Disciplines taken:</b></p>
                    <div class="content">
                        <i>
                            <div class="columns">
                                <div class="column">
                                    <ul>
                                        <li>Computer Science Introduction</li>
                                        <li>Portuguese Language</li>
                                        <li>Programming Logic</li>
                                        <li>discrete mathematics</li>
                                        <li>Sociology</li>
                                        <li>linear algebra and analytic geometry</li>
                                        <li>Laboratory of Programming One</li>
                                        <li>Language and Programming Techniques One</li>
                                        <li>Digital Logic with Laboratory</li>
                                        <li>General Theory of Administration</li>
                                        <li>Computer Architecture</li>
                                        <li>Ethics, Citizenship and Brazilian Reality One</li>
                                        <li>Laboratory of Programming Two</li>
                                        <li>Language and Programming Techniques Two</li>
                                        <li>Information systems</li>
                                        <li>Computer Theory</li>
                                        <li>Software Engineering</li>
                                        <li>Data structure</li>
                                        <li>Ethics, Citizenship and Brazilian Reality Two</li>
                                        <li>Artificial intelligence</li>
                                        <li>Business Process Modeling</li>
                                        <li>Programming Language Paradigms</li>
                                    </ul>
                                </div>
                                <div class="column">
                                    <ul>
                                        <li>computer graphics</li>
                                        <li>Web Development</li>
                                        <li>Database Modeling and Design</li>
                                        <li>Quality and Software Testing</li>
                                        <li>Operational systems</li>
                                        <li>Construction of Compilers</li>
                                        <li>IT Project Management</li>
                                        <li>Computer network</li>
                                        <li>Security in Information Systems</li>
                                        <li>Database Management System</li>
                                        <li>Distributed Systems Architecture</li>
                                        <li>Supervised internship</li>
                                        <li>Probability and statistics</li>
                                        <li>Game Design - Optional One</li>
                                        <li>Real-time and Embedded System</li>
                                        <li>IT Services Management</li>
                                        <li>Operational Research</li>
                                        <li>IT Planning and Management</li>
                                        <li>Game Schedule - Optional Two</li>
                                        <li>Final paper</li>
                                    </ul>
                                </div>
                            </div>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero" id="languages">
    <div class="container">
        <div class="hero-head has-text-centered-mobile">
            <h1>Languages</h1>
        </div>
        <div class="hero-body">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2>Portuguese</h2>
                    <h3>Fluent Proficiency</h3>
                </div>
                <div class="column">
                    <h2>English</h2>
                    <h3>Advanced Proficiency</h3>
                </div>
                <div class="column">
                    <h2>Spanish</h2>
                    <h3>Basic Proficiency</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="topBtn">
    <button id="scrollTopBtn" class="button is-primary is-large"><i class="fas fa-arrow-circle-up"></i></button>
</div>
